{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true, // allow return statements in the global scope
      "impliedStrict": true,  //  enable global strict mode (if ecmaVersion is 5 or greater)
      "jsx": true,  //  enable JSX
      "experimentalObjectRestSpread": true, //  enable support for the experimental object rest/spread properties
      "allowImportExportEverywhere": true
    }
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "shared-node-browser": true,
    "es6": true,
    "worker": false,
    "amd": true
  },
  "rules": {
    "semi": [ 2, "always" ]
  },
  "extends": "airbnb-base"
}