{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true, // allow return statements in the global scope
      "impliedStrict": true,  //  enable global strict mode (if ecmaVersion is 5 or greater)
      "jsx": true,  //  enable JSX
      "allowImportExportEverywhere": true
    }
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "commonjs": true,
    "shared-node-browser": true,
    "es6": true,
    "worker": false,
    "amd": true
  },
  "rules": {
    "semi": [ 2, "always" ],
    "no-underscore-dangle": "off",
    "no-useless-escape": "off",
    "max-len": ["error", { "code": 150 }]
  },
  "extends": "airbnb-base"
}
