{
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "jest": true,
    "mongo": true,
    "node": true
  },
  "extends": "airbnb-base"
}
